Library/
Temp/
obj/
Build/
Logs/
UIElementsSchema/
UserSettings/
Assets/Plugins
Assets/Plugins.meta
Assets/StarterAssets
Assets/StarterAssets.meta
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.pidb.meta
*.iml
.idea
.DS_Store
.DS_Store?
